@page
@using BLL.Services
@model VL.Pages.Room.Rooms
@inject IRoomInformationService roomService
@{
    ViewData["Title"] = "Rooms";
    var rooms = await roomService.AllAsync();
}
<h1>Rooms</h1>
@foreach (var room in rooms)
{
    <div>
        <h2>@room.RoomNumber</h2>
        <p>Price per day: @room.RoomPricePerDay</p>
        <form method="post" action="/api/booking">
            <input type="hidden" name="roomId" value="@room.RoomId" />
            <p> Room Id: @room.RoomId</p>
            <input type="hidden" name="pricePerDay" value="@room.RoomPricePerDay"/>
            <p>Price per day: @room.RoomPricePerDay</p>
            <input type="hidden" name="roomMaxCapacity" value="@room.RoomMaxCapacity" />
            <p>Capacity: @room.RoomMaxCapacity</p>
            <p>Description: @room.RoomDetailDescription</p>
            <input type="date" id="endDate" name="endDate" required />
            <button type="submit" > book </button>
        </form>
    </div>
}