@page
@model VL.Pages.Rooms.Index

@{
    Layout = null;
}
@using BLL.DataObjectTransforms
@using BLL.Services;
@using DAL.Entities;
@using DAL.Repositories
@{
    List<RoomInformation> roomInformations = new List<RoomInformation>();
    /*List<RoomInformationRepository> rooms = new List<RoomInformationRepository>();*/
    List<RoomsPageResponse> rooms = null;
}
<h1>list rooms</h1>
<a>add room</a>
<table>
    <tr>
        <th>RoomId</th>
        <th>RoomNumber</th>
        <th>RoomStatus</th>
        <th>RoomPricePerDay</th>
        <th>RoomTypeName</th>
    </tr>
    @foreach(RoomsPageResponse room in rooms)
    {
        <tr>
            <td>@room.RoomId</td>
            <td>@room.RoomNumber</td>
            <td>@room.RoomStatus</td>
            <td>@room.RoomPricePerDay</td>
            <td>@room.RoomTypeName</td>
        </tr>
    }
</table>